.dodle{
    /* background-image: url(https://cdn.pixabay.com/photo/2022/11/02/22/25/background-7566164_1280.jpg); */
    background-color: rgb(236, 222, 240);
}

/* #root{
    backdrop-filter: blur(19px) saturate(180%);
    background-color: rgb(231, 215, 234);
} */